/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define QWERTY  1
#define MEDIA   2
#define NAV     3
#define MOUSE   4
#define SYM     5
#define NUM     6
#define FUN     7

/ {
	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
	&kp ESC   &kp Q      &kp W      &kp F       &kp P        &kp B                                                &kp J &kp L        &kp U       &kp Y     &kp SQT   &kp BSLH
	&kp TAB   &hm LGUI A &hm LALT R &hm LCTRL S &hm LSHIFT T &kp G                                                &kp M &hm RSHIFT N &hm RCTRL E &hm LALT I &hm RGUI O &kp SEMI
	&kp LSHFT &kp Z      &kp X      &kp C       &kp D        &kp V &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp K &kp H        &kp COMMA   &kp DOT    &kp FSLH   &kp RCTRL
	                        &kp LGUI &kp DEL &lt MEDIA ESC &lt NAV SPACE &lt MOUSE TAB        &lt SYM RET &lt NUM BSPC &lt FUN DEL &kp BSPC &kp RALT
			>;
		};

		qwerty_layer {
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
			>;
		};


//		media_layer {
//			bindings = <
//	&trans &trans &trans &trans &trans &trans                                &trans &trans &trans &trans &trans &trans
//	&trans &trans &trans &trans &trans &trans                                &trans &trans &trans &trans &trans &trans
//	&trans &trans &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans
//	                     &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
//			>;
//		};

		nav_layer {
			bindings = <
	&trans &trans &trans &trans &trans &trans                                &kp PG_UP &kp HOME &kp UP &kp END &trans &trans
	&trans &trans &trans &trans &trans &trans                                &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans
	                     &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
			>;
		};

//		mouse_layer {
//			bindings = <
//	&trans &trans &trans &trans &trans &trans                                &trans &trans &trans &trans &trans &trans
//	&trans &trans &trans &trans &trans &trans                                &trans &trans &trans &trans &trans &trans
//	&trans &trans &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans
//	                     &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
//			>;
//		};

		sym_layer {
			bindings = <
	&trans &kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS                                 &trans &trans &trans &trans &trans &trans
	&trans &kp TILDE &kp EXCL &kp AT &kp HASH &kp PIPE                                 &trans &trans &trans &trans &trans &trans
	&trans &kp LBRC  &kp AMPS &kp STAR &kp LPAR &kp RBRC &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans
	                         &trans &kp LT &kp GT &kp RPAR &kp UNDER    &trans &trans &trans &trans &trans
			>;
		};

		num_layer {
			bindings = <
	&trans &kp SEMI  &kp N4 &kp N5 &kp N6 &kp EQUAL                                   &trans &trans &trans &trans &trans &trans
	&trans &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH                                &trans &trans &trans &trans &trans &trans
	&trans &kp LBKT  &kp N7 &kp N8 &kp N9 &kp RBKT &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans
	                     &trans &trans &kp DOT  &kp 0  &kp MINUS     &trans &trans &trans &trans &trans
			>;
		};

		fun_layer {
			bindings = <
	&trans &kp F12 &kp F4 &kp F5 &kp F6 &kp PSCRN                                &trans &trans &trans &trans &trans &trans
	&trans &kp F11 &kp F1 &kp F2 &kp F3 &kp SLCK                                   &trans &trans &trans &trans &trans &trans
	&trans &kp F10 &kp F7 &kp F8 &kp F9 &kp SYSREQ &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans
	                     &trans &trans &kp K_CMENU &kp SPACE &kp TAB    &trans &trans &trans &trans &trans
			>;
		};
	};
};


// A start on documenting the layers
// QWERTY
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
// GAME
// ---------------------------------------------------------------------------------------------------------------------------------
// |   T   | ESC |  Q  |  W   |  E   |  R   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |   G   | TAB |  A  |  S   |  D   |  F   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// |   B   |SHIFT|  Z  |  X   |  C   |  V   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | CTRL |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
// COLEMAK DH
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  F   |  P   |  B   |                                          |  J   |  L    |  U    |  Y   |   '   |   \  |
// |  TAB  |  A  |  R  |  S   |  T   |  G   |                                          |  M   |  N    |  E    |  I   |   O   |   '  |
// | SHIFT |  Z  |  X  |  C   |  D   |  V   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  K   |  H    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
// NUM
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
